.product-component {
    margin: 50px;
    width: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;


}

.img-product {
    border: 5px solid darkblue;
    width: 200px;
}

.title-produtc {
    size: 200px;
}


.price-product {
    font-weight: bold;
    font-size: 20px;
}



.description-product {
    color: gray;
    font-size: 14px;
    overflow: auto;
    text-align: center;

}